.preview-item {
    width: 20%;

    .backgound-image {
        width: 100%;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content {
        display: flex;
        justify-content: space-between;
    }
}