* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.category-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.category-item {
    min-width: 30%;
    border: 1px solid black;
    height: 200px;
    flex: 1 1 auto;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    .content {
        padding: 10px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}